body {
    padding-top: 70px;
    padding-bottom: 55px;
}

.body-main {
    background-color: #F5F5F5;
}

.obj-main {
    margin-top: 60px;
    text-align: center
}

.searchbar {
    margin-top: 40px;
}

.header-back {
    background-color: #0f0f0f;
}

.header-seperator {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgba(78, 78, 78, 0.92);
    display: inline-block;
    font-size: 14px;
    height: 30px;
    margin-top: 10px;
    margin-right: 0.25em;
    margin-bottom: 10px;
    margin-left: 0.25em;
    vertical-align: top
}

.tip-modal {
    overflow: visible;
    max-width: 1366px;
    margin: auto;
}

.tip-modal-dialog {
    padding-top: 130px;
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
    padding-bottom: 119px;
}

.tip-modal-body {
    min-height: 212px;
    background-color: #f7f7f7;

}

.success-modal-body {
    padding: 30px;
    text-align: left;
    min-height: 212px;
    background-color: #fff;

}

.success-modal-text {
    font-family: Segoe UI;
    color: #333;
    font-size: 14px;
}

.tip-modal-button {
    width: 90px;
    height: 32px;
    border: none;
    text-align: center;
    background-color: #2084c9;
    color: #ffffff;
    font-size: 14px;
    border-radius: 0px;
}

.tip-modal-button:hover {
    outline: 2px solid #59b7f8;
    color: #ffffff;
}

.tip-modal-padding {
    padding-top: 30px;
}

.modal-border {
    margin-bottom: 5px;
}

.header-link {
    color: #c9aa71;
    cursor: pointer;
    display: inline-block;
    margin-top: 16px;
    margin-right: 15px;
    margin-bottom: 16px;
    margin-left: 15px;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.06, 0.81, 0, 0.98);
    transition-delay: initial;
    vertical-align: middle;
}

a:hover, a:active {
    color: white;
    text-decoration: none;
}

.leaguetips-logo {
    background: url(https://cdn.leagueoflegends.com/riotbar/prod/1.6.66/images/navigation/icon-game-lol.png?1497291339) no-repeat 5px 8px;
    display: inline-block;
    height: 50px;
    padding-left: 50px;
}

.leaguetips-header {
    margin: auto;
    background: url(http://na.leagueoflegends.com/profiles/lol2_profile/themes/custom/lolt/img/lol_logo.png);
    background-size: contain;
    width: 225px;
    height: 82px;
    z-index: 10;
    display: block;
    text-decoration: none;
    outline: none;
    margin-top: 30px;
}

.searchbar-vs {
    text-align: center;
}

.search-button {
    background-image: url(https://cdn.leagueoflegends.com/riotbar/prod/1.6.67/images/account/sprites-s2a5147f733.png);
    background-position-x: 0px;
    background-position-y: -293px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #b2d9db;
    float: inherit;
    height: 41px;
    line-height: 28px;
    margin: auto;
    padding: 6px 0 0 0;
    position: relative;
    text-align: center;
    width: 129px;
    z-index: 0;
}

.search-color {
    color: white;
}

.search-center {
    margin: auto;
}

.register-button {
    background-image: linear-gradient(rgb(122, 109, 72) 0px, rgb(244, 220, 162) 60%, rgb(90, 83, 58) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    border-radius: 4px;
    color: #fdecce;
    line-height: 2.5;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    border: none;
}

.register-button-content {
    display: block;
    background-image: linear-gradient(rgba(161, 34, 0, 0) 0px, rgb(161, 34, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #ea7a00;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.subtextup {
    margin-left: 10px;
    cursor: pointer;
    color: #2b542c;
}

.subtextdown {
    margin-left: 10px;
    cursor: pointer;
    color: #761c19;
}

.subtextuser {
    cursor: pointer;
    color: #2b669a;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}

.header-links {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #1b6d85;
    white-space: nowrap;
    font-size: 0.66667em;
    cursor: pointer;
}

.header-logout{
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-transform: uppercase;
    color: #761c19;
    white-space: nowrap;
    font-size: 0.88887em;
    cursor: pointer;
}

.header-links p {
    margin-left: 3px;
}

.seperator:after {
    content: " | ";
    display: inline;
}