<nav class="navbar navbar-default navbar-fixed-top header-back">
    <div class="container-fluid">

        <div class="col-xs-2 col-sm-1">
            <a class="leaguetips-logo" href="/"></a>
        </div>

        <div class="col-xs-2 col-xs-offset-5">
            <a class="header-link pull-right" href="/"> My Tips</a>
        </div>

        <div class="col-xs-3">
            <a class="header-link pull-right" href="ph/searchTips"> Search Tips</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="col-xs-12" ng-show="model.notipsfound">
        Sorry, no notes found for this match up
    </div>
    <div class="col-xs-12" ng-show="addbutton">
        <div class="search-center">
            <div class="search-button" ng-click="model.addNewTip();">
                <a class="search-color">Add</a>
            </div>
        </div>
    </div>


    <div id="addtipsmodal" class="modal fade tip-modal" data-backdrop="static" data-keyboard="false" style="max-width:1366px;margin:auto;">
        <div class="modal-dialog tip-modal-dialog">
            <div class="modal-content tip-modal-content">

                <div class="modal-body success-modal-body success-modal-text" style="min-height: 130px;padding:30px;text-align: left;">
                    <div>
                        <textarea id="description" ng-model="model.tip" rows="6" class="form-control"></textarea>
                    </div>

                    <div style="padding-top: 30px;">
                        <button class="tip-modal-button"
                                ng-click="model.createNewTip();">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>