<nav class="navbar navbar-default navbar-fixed-top header-back">
    <div class="container-fluid">

        <div class="col-xs-2">
            <a class="leaguetips-logo" href="/"></a>
        </div>

        <div class="col-xs-10">
            <a class="header-link pull-right" href="ph/myTips"> My Tips</a>
            <span class="header-seperator pull-right"></span>
            <a class="header-link pull-right" href="ph/searchTips"> Search Tips</a>
        </div>

    </div>
</nav>


<div class="container-fluid">

    <div class="row">
        <div class="col-xs-3 col-xs-offset-2">
            <div>
                <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/champion/{{model.champ1details.image.full}}"
                     class="img-responsive center-block"
                     alt="Champ1">
                <h3 class="text-center">{{model.champ1details.name}}</h3>
            </div>
        </div>
        <div class="col-xs-2">
            <h3 class="text-center">VS</h3>
        </div>
        <div class="col-xs-3">
            <div>
                <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/champion/{{model.champ2details.image.full}}"
                     class="img-responsive center-block"
                     alt="Champ2">
                <h3 class="text-center">{{model.champ2details.name}}</h3>
            </div>
        </div>
    </div>


    <div class="col-xs-12" ng-show="model.notipsfound">
        <p class="text-center">Sorry, no notes found for this match up</p>
    </div>

    <div class="col-xs-12" ng-show="!model.notipsfound">
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <div ng-repeat="tip in model.tips">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{tip.tips}} <span class="badge pull-right">{{tip.upVotes - tip.downVotes}}</span>
                    </h4>
                    <p class="list-group-item-text"> -by
                        <span class="subtextuser" ng-click="model.getUserTips(tip.tipBy);">{{tip.tipByName}}</span>
                        <span class="subtextup" ng-click="model.upVote(tip)">Up Vote</span>
                        <span class="subtextdown" ng-click="model.downVote(tip)">Down Vote</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12" ng-show="addbutton">
        <div class="search-center">
            <div class="search-button" ng-click="model.addNewTip();">
                <a class="search-color">Add</a>
            </div>
        </div>
    </div>


    <div id="addtipsmodal" class="modal fade tip-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog tip-modal-dialog">
            <div class="modal-content tip-modal-content">
                <div class="modal-body success-modal-body success-modal-text">
                    <div>
                        <textarea id="description" ng-model="tip" rows="6" class="form-control"></textarea>
                    </div>

                    <div class="tip-modal-padding">
                        <button class="tip-modal-button"
                                ng-click="model.createNewTip(tip);">OK
                        </button>
                        <button class="tip-modal-button"
                                ng-click="model.hideModal();">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>