<nav class="navbar navbar-default navbar-fixed-top header-back">
    <div class="container-fluid">

        <div class="col-xs-2">
            <a class="leaguetips-logo" href="/"></a>
        </div>

        <div class="col-xs-6">

        </div>

        <div class="col-xs-4">
            <a class="header-link pull-right" href="/"> My Tips</a>
            <a class="header-link pull-right" href="ph/searchTips"> Search Tips</a>
        </div>

    </div>
</nav>


<div class="container-fluid">

    <h2>{{model.champ1details.name}} vs {{model.champ2details.name}}</h2>

    <div class="col-xs-12" ng-show="model.notipsfound">
        Sorry, no notes found for this match up
    </div>

    <div class="col-xs-12" ng-show="!model.notipsfound">
        <div ng-repeat="tip in model.tips">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{tip.tips}} <span class="badge pull-right">{{tip.upVotes - tip.downVotes}}</span></h4>
                    <p class="list-group-item-text"> -by
                        <span>{{tip.tipByName}}</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12" ng-show="addbutton">
        <div class="search-center">
            <div class="search-button" ng-click="model.addNewTip();">
                <a class="search-color">Add</a>
            </div>
        </div>
    </div>


    <div id="addtipsmodal" class="modal fade tip-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog tip-modal-dialog">
            <div class="modal-content tip-modal-content">
                <div class="modal-body success-modal-body success-modal-text">
                    <div>
                        <textarea id="description" ng-model="tip" rows="6" class="form-control"></textarea>
                    </div>

                    <div style="padding-top: 30px;">
                        <button class="tip-modal-button"
                                ng-click="model.createNewTip(tip);">OK
                        </button>
                        <button class="tip-modal-button"
                                ng-click="model.hideModal();">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>